#include "resource.h"
#include <windows.h>

#ifdef _WIN32
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
#pragma code_page(65001)
#endif

IDD_DIALOG DIALOGEX DISCARDABLE 0,0,330,110
STYLE DS_MODALFRAME | DS_CENTER | DS_SETFONT | WS_SYSMENU | WS_CAPTION | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE
FONT 8, "MS Shell Dlg", 400, 0, 0x01
CAPTION "ChatProgram Client"
BEGIN
	EDITTEXT IDC_EDIT1, 10,10,310,10, ES_AUTOHSCROLL
	EDITTEXT IDC_EDIT2, 10,30,310,60, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL
	DEFPUSHBUTTON "보내기", IDOK, 10,90,150,10
	PUSHBUTTON "끝내기", IDCANCEL, 170,90,150,10
END
